@inject IOptions<ClientAppConfig> appConfig

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <PageTitle>@appConfig.Value.OwnerName</PageTitle>
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <MudContainer Class="d-flex flex-column align-items-center">
                    <MudText>Not authorized.</MudText>
                    <MudLink href="/login" Class="mt-5"> Login </MudLink>
                </MudContainer>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
