@page "/cv"

<SectionContent SectionName="page-name">
    <MudText>CV</MudText>
</SectionContent>

@if (CurriculumVitae != null)
{
    if (WarningMessage != null)
    {
        <WarningAlert Message="@WarningMessage" OnCloseEvent="LoadCVAsync" CloseIcon="@Icons.Material.Filled.Refresh"></WarningAlert>
    }

    <div class="d-flex justify-content-end">
        <MudButton Disabled="true" Variant="Variant.Filled"
                   StartIcon="@Icons.Custom.FileFormats.FilePdf" IconColor="Color.Secondary">
            Download PDF (TBD)
        </MudButton>
    </div>

    <RenderCV CurriculumVitae="@CurriculumVitae" />
}
else if (IsCvLoading)
{
    <FriendlyLoadingSpinner Message="Loading CV"
                            StartAnimationAfterXSec="5"
                            EndAnimationAfterXSec="Constants.Request.DefaultTimeoutSeconds - 2"
                            CancellationTokenSource="CancellationTokenSource" />
}
else if (Error != null)
{
    <ErrorAlert Error="Error" OnCloseEvent="LoadCVAsync" CloseIcon="@Icons.Material.Filled.Refresh"></ErrorAlert>
}
