
<MudContainer Class="d-flex justify-content-between flex-wrap p-0">
    <div class="d-flex flex-wrap mb-1">
        <NoWrapText Class="text-decoration-underline" Text="@WorkExperience.CompanyName" />

        @if (WorkExperience.EmploymentType != null)
        {
            <MudText class="mx-1">•</MudText>
            <NoWrapText Class="fw-light" Text="@WorkExperience.EmploymentType.GetDescription()" />
        }

        @if (WorkExperience.Location != null)
        {
            <MudText class="mx-1">•</MudText>
            <NoWrapText Class="fw-light" Text="@WorkExperience.Location" />
        }

        @if (WorkExperience.LocationType != null)
        {
            <NoWrapText Class="fw-light ms-1" Text="@String.Format("({0})", WorkExperience.LocationType.GetDescription())" />
        }
    </div>

    <div class="d-flex flex-wrap fw-light fst-italic mb-1">
        @StartDateText - @EndDateText (@GetWorkPeriod())
    </div>
</MudContainer>
